@page "/recepits/details"
@using Microsoft.EntityFrameworkCore
@using BlazorSalesMS.Data
@inject IDbContextFactory<BlazorSalesMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Details</PageTitle>

<h1>Details</h1>


    <h2>Recepit</h2>
    <hr />
    @if (recepit is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <div class="row">
            <div class="col">
            <dl class="row">
                <dt class="col-sm-2">ItemName</dt>
                <dd class="col-sm-10">@recepit.ItemName</dd>
                <dt class="col-sm-2">Supplyer</dt>
                <dd class="col-sm-10">@recepit.Supplyer</dd>
                <dt class="col-sm-2">Address</dt>
                <dd class="col-sm-10">@recepit.Address</dd>
                <dt class="col-sm-2">ContactNo</dt>
                <dd class="col-sm-10">@recepit.ContactNo</dd>
                <dt class="col-sm-2">IvoiceNo</dt>
                <dd class="col-sm-10">@recepit.IvoiceNo</dd>
                <dt class="col-sm-2">Payment</dt>
                <dd class="col-sm-10">@recepit.PaymentMethod</dd>
                <dt class="col-sm-2">Quantity</dt>
                <dd class="col-sm-10">@recepit.Quantity</dd>
                <dt class="col-sm-2">Amount</dt>
                <dd class="col-sm-10">@recepit.UnitPrice</dd>
                <dt class="col-sm-2">RecepitDate</dt>
                <dd class="col-sm-10">@recepit.RecepitDate</dd>
            </dl>
            <div>
                <a class="btn btn-warning" href="@($"/recepits/edit?id={recepit.Id}")">Edit</a> |
                <a class="btn btn-info" href="@($"/recepits")">Back to List</a> |
            </div>
            </div>
            <div class="col">
            <div>
                <img src="@($"/uploads/{recepit.UrlDocName}")"
                     class="zoomable @(IsZoomed ? "zoomed" : "")"
                     style="max-width:300px;height:500px" @onclick="ToggleZoom" />
            </div>
            </div>
        </div>
     

   
 }


@code {
    private Recepit? recepit;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    private bool IsZoomed = false;
    private void ToggleZoom() => IsZoomed = !IsZoomed;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        recepit = await context.recepits.FirstOrDefaultAsync(m => m.Id == Id);

        if (recepit is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
    
}
